*{
    margin:0;
    padding: 0;
}
.hi{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.hello
{
    display: flex;
    justify-content: space-around;
    padding:20px;
}
.oh{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.but{
    background-color: orangered;
    color:white;
    padding:5px;
    border:5px;
}
.but:hover{
    background-color: aliceblue;
    color:black;
    border:1px solid orangered;
}
li:hover{
    background-color: orangered;
    border-radius: 20px;
}
.image{
    background-image: url("images/bgimg.jpg");
    height:550px;
    width:1600px;
    background-repeat:no-repeat;
    background-size: cover;
}
.img{
    display:flex;
    justify-content: space-around;
    padding-top: 110px;
}
.streaks{
    color:white;
    font-size: 70px;   
}
.reviews{
    color:white;
    font-size: 30px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.33%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    margin:0;
    padding:0;
}
.d{
    display: flex;
    justify-content: space-evenly;
}

.heading{
    font-size: 50px;
}
.morno{
    padding-left: 30px;
    padding-top: 30px;
}
.cost{
    color:goldenrod;
    padding:10px;
    border:5px;
    margin:5px;
    border-radius: 15px;
}
.size{
    font-size: 20px;
}
.a{
    padding-right: 10px;
    padding-left: 90px;
}
.b{
    padding-right: 10px;
}
.c{
    padding-right: 10px;
}
.main{
    justify-content: space-evenly;
}
.bg{
    background-image: url(images/fooood.jpg);
    height:500px;
    width:1600px;
    background-repeat:no-repeat;
    background-size: cover;
}
.news{
    font-size: 50px;
}
.e{
    display: flex;
    justify-content: space-evenly;
}
.f{
    padding-left: 70px;
}
.para{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h{
    display: flex;
    justify-content: space-evenly;
    padding:30px;
}
.i{
    padding-left: 37px;
}
.k{
    padding-right: 30px;
}
.footer{
    background-image: url(images/bar.jpg);
    height:400px;
    width:1600px;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 90px;
}

.foot{
    display:flex;
    justify-content: space-around;
}
.dir{
    color:white;
    background-color: darkgray;
    padding:10px;
}
.foot{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.location{
    padding-top: 45px;
}
.open{
    padding-top: 90px;
}
.social{
    padding-top: 150px;
}